// Shadow
$shadow: 0px 0px 4.75px 0.25px rgba(0, 0, 0, 0.2);
$gold: #dbbd68;
$blue: #2c5bdf;
$purple: #7d5d8a;
$green: #67db71;
$pink: #db6886;
$orange: #ff9900;
$dark-grey: #1f1f1f;
$highlight: $gold;
$foreground: #555555;

// Sizes
$header-height: 300px;
$sidebar-width: 300px;
