.side hr:last-of-type {
    display: none;
}
.side blockquote:last-of-type {

	a {
		position: absolute;
		top: 80px;
		right: 80px;
		border: 1px solid white; //ie8
		border: 1px solid rgba(255,255,255,0.2);
		background: url(%%featured%%) no-repeat;
		width: 480px;
		height: 165px;
		z-index: 1337;
		display: inline-block;
		transition: all 0.2s;
		&:hover {
			border-color: $gold;
			em {
				background: black !important;
			}
		}
		em {
			display: inline-block;
			width: 100%;
			position: absolute;
			padding: 8px 15px;
			top: 0;
			right: 0;
			background: black; //ie8
			background: rgba(0,0,0,0.8);
			z-index: 1338;
			transition: all 0.2s;
			font-style: normal;
			color: $gold;
            text-transform: uppercase;
            box-sizing: border-box;
		}
	}
}
