.flair-epic {
		border: none;
		border-radius: 0px;
		padding-left: 0px;
		margin-right: inherit;
		background-image: url(%%flair-epic%%);
		background-repeat: no-repeat;
		height: 20px;
		width: 18px;
		margin-bottom: -5px;
		margin-left: 2px;
		text-indent: 100px;
		white-space: nowrap;
		overflow: hidden;
}
