.side {
	margin: 20px;
	background: none;
	.spacer {
		margin: 0;
	}
	.linkinfo {
		background: white;
		border: none;
		border-radius: 0;
		box-shadow: $shadow;
		margin-bottom: 20px;
		padding: 20px;
		font-size: 14px;
		.date {
			color: #999;
			font-size: 12px;
			span {
				display: none;
			}
			time {
				font-weight: bold;
				&:before {
					content: 'Submitted ';
					font-family: Arial, sans-serif;
					font-size: 12px;
					font-weight: normal;
					color: #999;
				}
			}
		}
		.score {
			margin-top: 5px;
		}
		.totalvotes {
			color: #999;
		}
		.shortlink {
			border-top: 1px solid #eeeeee;
			padding-top: 15px;
			margin-top: 15px;
			font-size: 0;
			color: white;
			input {
				border: 1px dotted #cccccc;
				font-size: 12px;
				padding: 5px;
				width: 100%;
				box-sizing: border-box;
			}
		}
	}
	.titlebox {
		font-size: 14px;
		.redditname {
			margin-bottom: 15px;
		}
		.fancy-toggle-button  {
			display: block;
			text-align: center;
			text-transform: capitalize;
			font-weight: bold;
			margin: 20px 0 10px;
			.remove {
				background: #eee;
				color: #999;
				&:hover {
					background: #f6f6f6;
				}
			}
			.add {
				background: $gold;
				color: white;
				&:hover {
					background: lighten($gold, 10%);
				}
				&:after {
					content: ' to /r/Paragon';
					text-transform: none;
				}
			}
			.remove, .add {
				box-sizing: border-box;
				font-size: 14px;
				width: 100%;
				border: none;
				border-radius: 0;
				padding: 10px;
				transition: background-color 0.2s;
				&.active {
					display: block;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.RESshortcut, .REStoggle {
			display: inline-block;
			width: 49%;
			background: white !important;
			border: 1px solid #ddd;
			border-radius: 0;
			box-sizing: border-box;
			color: #999999;
			padding: 10px 5px;
			margin: 0;
			font-size: 12px;
			font-weight: normal;
			text-transform: capitalize;
			transition: border 0.2s;
			&:hover {
				border-color: #999;
			}
		}
		.RESshortcut {
			margin: 0 2% 0 0;
		}
		.REStoggle {
		}
	}
	.subscribers {
		margin-top: 20px;
		display: block;
		font-size: 16px;
		font-weight: bold;
		color: #555;
	}
	.users-online {
		color: #cccccc;
		font-size: 14px;
		&:before {
			display: none;
		}
	}
	.flairtoggle {
		display: none;
	}
	.tagline {
		display: none;
	}
	.leavemoderator, .leavecontributor-button {
		display: none;
	}
	.flairtoggle {
		font-size: 12px;
	}
	.title h1 {
		text-transform: capitalize;
		color: $foreground;
	}
	.md h2 {
		font-size: 18px;
		font-weight: bold;
	}
	.morelink {
		background: white;
		box-shadow: $shadow;
		border: none;
		border-left: 4px solid $gold;
		text-align: center;
		font-size: 14px;
		height: auto;
		line-height: 14px;
		&:hover {
			a {
				color: $gold;
			}
		}
		a {
			display: inline-block;
			padding: 15px 10px;
			color: $foreground;
			text-transform: uppercase;
			text-decoration: none;
			box-sizing: border-box;
		}
		.nub {
			display: none;
		}
	}
	.submit-text {
		display: none;
	}
	.titlebox {
		margin-top: 20px;
		background: white;
		padding: 20px;
		box-shadow: $shadow;
		.bottom {
			display: none;
		}
	}
	.usertext {
		border-top: 1px solid #cccccc;
		margin-top: 20px;
	}

	#moderation_tools {
		margin-top: 20px;
		ul.content {
			margin: 10px 0 20px;
			border: none;
			box-shadow: $shadow;
			padding: 20px;
			font-size: 14px;
		}
	}
	.sidecontentbox .content {
		background: white;
		margin: 10px 0 20px;
		border: none;
		box-shadow: $shadow;
		padding: 20px;
		font-size: 14px;
	}

	.sidebox.create {
		display: none;
	}

	.account-activity-box {
		display: none;
	}
}
